{% extends 'core/base.html' %}

{% block content %}
<div class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title" style="font-size: 2rem;">¡Correo Enviado!</h2>
        <p class="auth-subtitle mt-4">
            Hemos enviado instrucciones para restablecer tu contraseña a la dirección de correo proporcionada.
            <br><br>
            Por favor, revisa tu bandeja de entrada (y la carpeta de spam por si acaso).
        </p>
        <div class="auth-links mt-5">
             <a href="{% url 'home' %}">Volver al Inicio</a>
        </div>
    </div>
</div>
{% endblock %}